// 颜色背景颜色
$bg-home = #326394
$bg-direction = #252525
$bg-resource = #326394
$bg-join = #dedede

// 定义文字颜色
$color-home = #ffffff
$color-direction = #ffffff
$color-resource = #ffffff
$color-join = #252525


//字体大小定义
$font-logo = 28px
$font-title = 22px
$font-text-xs = 12px
$font-text-sm = 14px
$font-text-md = 16px
$font-text-lg = 18px

