
.page-wrapper{
    width: 100%;
    height: 100%;
    background: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
#particles{
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: 50% 50%; 
    background-repeat: no-repeat; 
}
#particles canvas{
    display:block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002B5A; 
    transition: all 10s ease-in;
}
.container .logo-wrapper{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 500px;
    height: 150px;
    margin: 0 0 0 -250px;
}
.container .logo-wrapper .logo-img{
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size:35px; 
    font-weight: 700;
    margin-bottom: 15px;
}
.container .logo-wrapper .logo-info{
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
}       
.container .nav{
    display: flex;
}
.container .nav li{
    flex: 1;
    width: 140px;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    text-align: center;
    margin: 5px;
    color: #333;
    border-radius: 4px;
    background: #ffffff;
    opacity: 0.7;
    transition: all 10s ease-in;
    cursor: pointer
}
.content{
    width: 960px;
    height: 710px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    z-index: 10;
    display: none;
}
.content .hd{
    width: 960px;
    height: 50px;
    border-bottom: 1px solid #d3d3d3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f0f0f0;
    text-align: center;
    position: relative;
    z-index: 20;
}
.content .hd h2{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    padding: 10px 0;
}
.content .hd h2 span.icon{
    float: right;
    line-height: 30px;
    margin-right: 10px;
}

.reg {
    background: #f6f6f6;
}
/* .reg .hd{
    width: 960px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d3d3d3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f0f0f0;
    text-align: center;
} */
.reg .bd-wrapper{
    width: 960px;
    height: 650px;
    overflow-y: scroll;
}
.reg .bd-wrapper .bd{
    width: 600px;
    height: 2600px;
    margin: 0 auto;
    padding: 20px 0;
}
.reg .bd-wrapper .bd .line-text{
    text-align: center;
    line-height: 80px;
}
.reg .bd-wrapper .bd .line{
    display: flex;
}
.reg .bd-wrapper .bd .line .task{
    flex: 1;
    padding:20px;
}
.reg .bd-wrapper .bd .line .task .icon{
    flex: 25px 0 0;
    text-align: center;
    line-height: 25px;
}
.reg .bd-wrapper .bd .line .task:hover{
    background: #f0f0f0
}

.reg .bd-wrapper .bd .line .task .title{
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}
.reg .bd-wrapper .bd .line .task .title span.cue{
    font-size: 12px;
    color: #5597F5;
    float: right;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.reg .bd-wrapper .bd .line .task:hover .title span.cue{
    opacity: 1;
}
.reg .bd-wrapper .bd .line .task .text{
    border: 1px solid #ccc;
    height: 25px;
    padding: 5px;
    background: #fcfcfc;
    display: flex;
}
.reg .bd-wrapper .bd .line .task i.icon-ok{
    color:#5597F5;
}
.reg .bd-wrapper .bd .line .task i.icon-close{
    color:#d9534f;
}
.reg .bd-wrapper .bd .line .task .select{
    border: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    padding: 5px;
    background: #fcfcfc;
    display: flex;
    position: relative;
}
.reg .bd-wrapper .bd .line .task .select .select-text{
    flex: 1;
    text-indent: 5px;
    color: #666;
    font-size: 14px;
}
.reg .bd-wrapper .bd .line .task .radio{
    display: flex
}
.reg .bd-wrapper .bd .line .task .radio label{
    flex: 1;
    display: block;
    padding-left:15px; 
    text-align: left
}
.reg .bd-wrapper .bd .line .task .fx{
    margin-bottom: 15px;
}
.reg .bd-wrapper .bd .line .task .fx label{
    padding: 0px;
    text-align: center;
}
.reg .bd-wrapper .bd .line .task .fx-info{
    min-height: 50px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    background: #f6f6f6;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}
.reg .bd-wrapper .bd .line .task .fx-info p{
    display: none;
    color: #666
}
.reg .bd-wrapper .bd .line .task .text input{
    border: none;
    flex: 1;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-indent: 5px;
    background: transparent;
}
.reg .bd-wrapper .bd .line .task .place{
    display: flex;
}
.reg .bd-wrapper .bd .line .task .place-t{
    display: flex;
    flex: 1;
    border: 1px solid #ccc;
    height: 25px;
    padding: 5px;
    background: #fcfcfc;
    position: relative;
}
.reg .bd-wrapper .bd .line .task .place-tl{
    margin: 0 40px 0 0;
}
.reg .bd-wrapper .bd .line .task .place-tr{
    margin: 0 0px 0 0;
}
.reg .bd-wrapper .bd .line .task .place-t .place-t-w{
    flex: 1;
    line-height: 25px;
    color: #666;
    text-indent: 5px;
    font-size: 14px;
    overflow: hidden;
}
.reg .bd-wrapper .bd .line .task .area {
    position: relative;
}
.reg .bd-wrapper .bd .line .task .area textarea{
    min-height: 100px;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box
}

.reg .bd-wrapper .bd .line .task .area .text-number{
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #999999
}
.reg .bd-wrapper .bd .line .task .area .text-number i{
    font-size: 14px;
    line-height: 20px;
    position: relative;
    top: 2px
}
.reg .bd-wrapper .bd .line .task .submit{
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    background: #5597F5;
    color: #fff;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.reg .bd-wrapper .bd .line .task .submit:hover{
    background: #4A86DB
}
.reg .bd-wrapper .bd .line .task-half .title{
    margin-bottom: 20px;
}
.reg .bd-wrapper .bd .line .task .submit,
.reg .bd-wrapper .bd .line .aborder{
    border-radius: 4px;
}
.reg .bd-wrapper .bd .line .aborder:hover{
    border-color: #5597F5
}
.reg .bd-wrapper .bd .line .student-check{
    position: relative;
}
.reg .bd-wrapper .bd .line .student-check .student-error{
    position: absolute;
    bottom: 4px;
    left: 20px;
    font-size: 12px;
    color: #d9534f;
    display: none;
}
.reg .bd-wrapper .bd .ok-info{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    border-radius:4px;
}
.reg .bd-wrapper .bd .ok-info .show-info{
    text-align: center;
    line-height: 30px;
}
.reg .bd-wrapper .bd .ok-info .show-info .confirm{
    width: 200px;
    height: 85px;
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.reg .bd-wrapper .bd .ok-info .show-info .confirm .confirm-title{
    line-height: 45px;
    border-bottom: 1px solid #ccc;
}
.reg .bd-wrapper .bd .ok-info .show-info .confirm .confirm-contn{
    display: flex;
}
.reg .bd-wrapper .bd .ok-info .show-info .confirm .confirm-contn span{
    flex: 1;
    display: block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.reg .bd-wrapper .bd .ok-info .show-info .confirm .confirm-contn span:hover{
    color: #5597F5;
}
.reg .bd-wrapper .bd .ok-info .show-info .confirm .confirm-contn span#form-reset{
    border-right: 1px solid #ccc;
}
.reg .bd-wrapper .bd .ok-info .show-info .icon{
    font-size: 40px;
}
.reg .bd-wrapper .bd .ok-info .show-info .icon-ok{
    color: #5597F5
}
.reg .bd-wrapper .bd .ok-info .show-info .icon-close{
    color: #d9534f
}
.reg .bd-wrapper .bd .error-info{
    width: 100%;
    height: 40px;
    line-height:40px;
    position: absolute;
    left: 0;
    top:50px;
    background: #d9534f;
    opacity: 0.9;
    color: #fff;
    text-align: center;
}


.reg .hide-show{
    display: none;
    position: absolute;
    left: -1px;
    top: 100%;
    height: 200px;
    min-width: 100%;
    border: 1px solid #5597F5;
    overflow-y: scroll;
    background:#fff;
}
.reg .hide-show li{
    font-size: 14px;
    text-indent: 10px;
    color: #666;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
}
.reg .hide-show li:hover{
    background: #5597F5;
    color: #fff;
    cursor: pointer;
}

.reg .hide-show-year{
    height: 70px;
    z-index: 10;
}




.member{
    width: 0px;
    height: 0px;
    position: relative;
    z-index: 2;
    background: red
}
.member li{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: yellow;
    transition: all 5s ease-in;
}


/* 名言 */
.main{
	width:500px;
    background:#fff;
    opacity: 0.7;
	border-radius:5px;
}
.main .tp{
	padding:20px 25px;
	text-align:left;
	font-size:14px;
	font-weight:500;
	font-family:arial;
}
.main .cp{
	text-align:right;
	padding-right:20px;
	margin-bottom:15px;
}
.main .fp{
	width:100%;
	height:35px;
	padding-bottom:10px;
}
.main .fp .new{
	float:right;
	margin-right:20px;
	height:30px;
	background:#ccc;
	line-height:30px;
	padding:0 10px;
	border-radius:5px;
	cursor:pointer;
	color:#fff;
  font-size:12px;
}